body {
    display: grid;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
   grid-area: header;
   background-color: #333;
   color: white; 
}

.header-content {
    padding: 1rem;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 0.5rem 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    grid-area: main;
    background-color: #ccc;
    padding: 1rem;
}

aside {
grid-area: aside;
background-color: #e0e0e0;
padding: 1rem;
}

footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}
