@media (min-width: 700px) {

  /* DESKTOP HEADER */
  header {
    padding: 1.5rem 2rem;
  }

  /* DESKTOP NAV */
  nav {
    display: flex !important;
    flex-direction: row;
    gap: 2rem;
    justify-content: flex-end;
    margin: 0;
  }

  #hamburger {
    display: none;
  }

  nav a {
    padding: 0.5rem 1rem;
  }

  /* DESKTOP GRID */
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}