@media (min-width: 700px) {

  /* NAV becomes horizontal */
  nav {
    display: flex !important;
    justify-content: center;
    gap: 1rem;
  }

  #hamburger {
    display: none;
  }

  /* GRID: more columns */
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
